@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.my-listbox {

    margin: 0 2em;

    * {
        font-family: Roboto;
    }

    .my-listbox-header {
        font-family: 'Dancing Script';
        font-weight: 500;
    }

    .my-listbox-items-wrapper {
        .my-listbox-item-list {
            max-width: 300px;
            padding: 1em 2em;
            list-style: none;

            .my-listbox-item {
                border-radius: 0.5em;
                border: 1px solid #ccc;
                padding: 1em 3em;
                margin: 0.5em 0;
                pointer-events: none;
            }
        }
    }

    .my-listbox-footer {
        border: 1px solid red;
        border-radius: 0.5em;
    }
}